<!doctype html>
<html ng-app="playingApp">
	<head>
		<title>Playing</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="playing.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<style media="screen">
			.ng-invalid.ng-dirty{
				border-color:red;
			}
			.ng-valid.ng-dirty{
				border-color:green;
			}
		</style>
	</head>
	<body>
		<div ng-controller="ItemsController as itemsCtrl" class="container-fluid">
			<div ng-repeat="singleItem in allItems" class="row">
				<div class="col-sm-4">
					{{singleItem.label}}
				</div>
				<div class="col-sm-4">
					{{singleItem.number}}
				</div>
				<div class="col-sm-4">
					<button ng-click='removeItem($index)' class="btn btn-danger">Remove "{{singleItem.label}}"</button>
				</div>
			</div>
			<div ng-show='addItemForm.$dirty' class="row">
				<div class="col-sm-4">
					{{item.label}}
				</div>
				<div class="col-sm-4">
					{{item.number}}
				</div>
			</div>
			<form name="addItemForm" ng-submit='addItemForm.$valid && addItem()' novalidate>
				<input type="textbox" ng-model="item.label" required>
				<input type="number" ng-model="item.number" required>
				<input type="submit" class="btn btn-primary" ng-disabled='addItemForm.$invalid'>
			</form>
			<ul class="nav nav-pills">
				<li ng-repeat="singleTab in allGraphTypes" ng-class="{active: activeGraphType($index+1)}">
					<a href ng-click="setGraphType($index+1)">{{singleTab.type}}</a>
				</li>
			</ul>
		</div>
		<div class="container-fluid">
			<div class="row">
				<drawing-div></drawing-div>
			</div>
		</div>
	</body>
</html>
